body {
	background-image: url("./imagery/gallery/background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: sans-serif; }
.canvas {
	background-color: #FFFFFF;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	width: 80%;
	border: 5px solid #FF00FF;}
p { font-size: 10px }
h2 {
	font-size: 40px;}
h3 { 
	margin-left: 40px }
a { 
	text-decoration: none;
	color: #FF00FF;
	font-size: 30px; }
.image1 {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	margin-left: 50px;}
.image2 {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	margin-left: 50px;}
.image3 {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	margin-left: 50px;}
.image4 {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	margin-left: 65px;}